@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.pf-v5--font-family {
  font-family: "Poppins", sans-serif;
}

.pf-v5-role-policy-md {
  font-family: "Poppins", sans-serif;
}

.pf-v5-c-main-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.pf-v5-c-main-heading {
  font-size: 24px;
  font-weight: bold;
}

.pf-v5-c-flex {
  display: flex;
  flex-direction: column;

}

.pf-v5-c-flex label {
  font-weight: 500;
  margin-bottom: 8px;
}

.pf-v5-c__react-select {
  width: 50%;
}

.pf-v5-c-role-select {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.pf-v5-c-multi-select-container {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  align-items: center;
  width: 85%;
}

.pf-v5-c-scope {

  border: 1px solid #ddd;
  padding: 10px;
  width: 30%;
  box-sizing: border-box;
  height: 30vh;
  overflow-y: auto;
}

.pf-v5-c-scope h3 {
  font-weight: 500;
}

.pf-v5-c-scope-list {
  position: relative;
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 8px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.3s ease;
}

.pf-v5-c-scope-list:hover {
  background-color: #e0e0e0;
}

.pf-v5-c-form__button {
  width: 70px;
  margin-bottom: 2rem !important;
  color: white;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.custom-bg-color {
  background-color: rgb(247, 124, 26) !important;
}

.custom-text-color {
  color: rgb(247, 124, 26) !important;
}

.pf-v5-c-arrow-icon {
  font-size: 28px;
}

.pf-m-primary {
  background-color: rgb(247, 124, 26) !important;
}

.pf-m-link {
  color: rgb(247, 124, 26) !important;
}

.pf-v5-c-tabs__link:hover {
  --pf-v5-c-tabs__link--after--BorderColor: rgb(247, 124, 26) !important;
}

.pf-v5-c-tabs__item--m-current__link {
  --pf-v5-c-tabs__item--m-current__link--after--BorderColor: rgb(247, 124, 26) !important;
}

.pf-v5-c-tabs__item .pf-v5-c-tabs__link {
  color: rgb(247, 124, 26) !important;
}

.pf-v5-c-tabs__item.pf-m-current .pf-v5-c-tabs__link {
  color: rgb(247, 124, 26) !important;
  font-weight: bold;
}

.pf-v5-c-tabs__item.pf-m-current .pf-v5-c-tabs__link--after {
  border-color: rgb(247, 124, 26) !important;
  border-width: 2px;
}

.pf-v5-c-form-control--hover--after {

  border-bottom: rgb(247, 124, 26) !important;
}

.pf-v5-c-form-control--hover--after--BorderBottomColor {
  border-bottom: rgb(247, 124, 26) !important;
}


.pf-v5-c-form-control--focus--after--BorderBottomColor {
  border-bottom: rgb(247, 124, 26) !important;
}


.pf-v5-c-form-control--m-expanded--after--BorderBottomColor {
  border-bottom: rgb(247, 124, 26) !important;
}

.pf-v5-c-form-control:hover {
  --pf-v5-c-form-control--after--BorderBottomColor: rgb(247, 124, 26) !important;
}

.pf-v5-c-tabs__item.pf-m-current {
  --pf-v5-c-tabs__link--after--BorderColor: rgb(247, 124, 26) !important;
}

textarea {
  font-size: 16px !important;
  line-height: 1rem;
}


.custom-form-control {
  --pf-v5-c-form-control--hover--after--BorderBottomColor: #f77c1a;
  --pf-v5-c-form-control--focus--after--BorderBottomColor: #f77c1a;
  --pf-v5-c-form-control--m-expanded--after--BorderBottomColor: #f77c1a;


  border-bottom-color: var(--pf-v5-c-form-control--hover--after--BorderBottomColor);
  border-bottom-width: var(--pf-v5-c-form-control--focus--after--BorderBottomWidth);
}

.custom-form-control:focus {
  border-bottom-color: var(--pf-v5-c-form-control--focus--after--BorderBottomColor);
  border-bottom-width: var(--pf-v5-c-form-control--focus--after--BorderBottomWidth);
}

.custom-form-control:hover {
  border-bottom-color: var(--pf-v5-c-form-control--hover--after--BorderBottomColor);
}

.custom-form-control.m-expanded {
  border-bottom-color: var(--pf-v5-c-form-control--m-expanded--after--BorderBottomColor);
}

.pf-v5-c-form-control:focus-within {
  --pf-v5-c-form-control--after--BorderBottomColor: rgb(247, 124, 26) !important;
  --pf-v5-c-form-control--after--BorderBottomWidth: rgb(247, 124, 26) !important;

  border-bottom-color: var(--pf-v5-c-form-control--after--BorderBottomColor);
  border-bottom-width: var(--pf-v5-c-form-control--after--BorderBottomWidth);
}

.pf-v5-c-form-control>textarea {
  padding-top: 0.5rem;
  padding-bottom: 0rem;
}

.pf-v5-c-arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pf-v5-c-form {
  --pf-v5-global--gutter--md: 0.5rem;
}

.pf-v5-c-form__label {
  font-size: 0.83rem;
}

@media (max-width: 850px) {

  .pf-v5-c__react-select {
    width: 80%;
  }

  .pf-v5-c-multi-select-container {
    flex-direction: column;
    align-items: normal;
    gap: 1rem;
  }

  .pf-v5-c-scope {
    width: 95%;
    height: 150px;
  }

  .pf-v5-c-form__button {
    width: 80%;
  }

}

@media (max-width: 700px) {

  .pf-v5-c__react-select {
    width: 90%;
  }

  .pf-v5-c-scope {
    width: 100%;
    height: 150px;
  }

  .pf-v5-c-multi-select-container {
    justify-content: center;
    align-items: center;
  }
}


@media (max-width: 500px) {

  .pf-v5-c-flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .pf-v5-c__react-select {
    width: 90%;
  }

  .pf-v5-c-role-select {
    width: 100%;
  }

  .pf-v5-c-scope {
    width: 82vw;
    height: 140px;
  }

  .pf-v5-c-form__button {
    margin-bottom: 7rem !important;
    width: 90%;
  }

}